
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/myaccount/{{user._id}}">My Account</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">My Cart</li>
    </ol>
</nav>

{{#if error}}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong> Error </strong>
        {{ error }}
    </div>
{{/if}}
<div class="row row-content">

    {{#each cartProducts}}
        <div class="col-md-3" style="margin: 15px;">
            <div class="card" style="width: 18rem;">
                <img class="card-image-top" src="../public/img/{{title}}.jpg" alt="card image" style="width:170px;height:130px">
                <div class="card-body">
                    <h5><a href="/products/{{_id}}">{{title}}</a></h5>
                    <p class="card-text"> <a href="/products/{{_id}}">{{description}}</a> </p>

                </div>
                <form class="list-group list-group-flush" id="delete" METHOD="POST">
                    <input type="string" name="proid" style="display:none" value={{_id}}></input>
                    <li class="list-group-item">Price: $ {{price}} </li>
                    <li class="list-group-item"> {{quantity}} Left</li>
                    <li class="list-group-item"> <button type="submit" class="btn btn-primary">
                        delete
                    </button></li>
                </form>

            </div>
        </div>
    {{/each}}
</div>

<a href="/payment/{{user._id}}"><button type="submit" class="btn btn-primary">
        Make Payment
    </button></a>
</form>