<!-- <div class="row row-content">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header" class="col-md-3">
        <a class="navbar-brand" href="#">Category</a>
    </div>
    <div class="col-md-2">
        <ul class="nav navbar-nav">    
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    CLOTHING
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">HOODIE</a></li>
                    <li><a href="#">PANTS</a></li>
                </ul>
            </li>
            <li><a href="#">HAT</a></li>
            <li><a href="#">SHOES</a></li>
            <li><a href="#">ACCESSORIES</a></li>
        </ul>
    </div>
</nav>
</div> -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">CATEGORY</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    CLOTHING
                </a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:3000/productsbycat/hoodie">HOODIE</a></li>
                    <li><a href="http://localhost:3000/productsbycat/pants">PANTS</a></li>
                </ul>
            </li>
            <<li><a href="http://localhost:3000/productsbycat/hat">HAT</a></li>
            <li><a href="http://localhost:3000/productsbycat/shoes">SHOES</a></li>
            <li><a href="http://localhost:3000/productsbycat/accessories">ACCESSORIES</a></li>
            
        </ul>
    </div>
    </div>
</nav>

<div class="row row-content">
    {{#each products}}
    <div class="col-md-3" style="margin: 15px;">
        <div class="card" style="width: 18rem;">
            <!--<div class="divprodimg"> -->
                <a href="/products/{{this.title}}">
                    <img class="card-image-top" src="../public/img/{{this.title}}.jpg" alt="card image" style="width:170px;height:130px">
                </a>
            <!--</div>-->
                 
           
           
            <div class="card-body">
                <h5 class="card-title"> {{this.title}} </h5>
                <!-- <p class="card-text"> {{this.description}} </p> -->

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: $ {{this.price}} </li>
                <!-- <li class="list-group-item">Category:  {{this.category}} </li>
                <li class="list-group-item"> {{this.quantity}} Left</li> -->

            </ul>
        </div>
    </div>
    {{/each}}
</div>
