<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
        <li class="pull-right">
            <input type="text" id="searchInput" placeholder="Search....">
        </li>
    </ol>
    
</nav>
{{#if error}}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong> Error </strong>
        {{ error }}
    </div>
{{/if}}

<div class="row row-content">
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header" class="col-md-3">
        <a class="navbar-brand" href="#">Category</a>
    </div>
    <div class="col-md-9">
        <ul class="nav navbar-nav">    
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    MEN
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">TOP</a></li>
                    <li><a href="#">BOTTOM</a></li>
                    <li><a href="#">SHOES</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    WOMEN
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">TOP</a></li>
                    <li><a href="#">BOTTOM</a></li>
                    <li><a href="#">SHOES</a></li>
                </ul>
            </li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Special</a></li>
        </ul>
    </div>
    </div>
</nav>
</div>

<div class="row row-content" id="productLists">
    {{#each products}}
    <div class="col-md-3" style="margin: 15px;" id="single">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/img/{{this.title}}.jpg" alt="card image">
            <div class="card-body">
                <h5 class="card-title"> {{this.title}} </h5>
                <p class="card-text"> {{this.description}} </p>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: $ {{this.price}} </li>
                <li class="list-group-item" id = "category">Category:  {{this.category}} </li>
                <li class="list-group-item"> {{this.quantity}} Left</li>

            </ul>
        </div>
    </div>
    {{/each}}
</div>
