
<!-- {{products}} -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/products">Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{thisProd.title}}</li>
    </ol>

</nav>
{{#if error}}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong> Error </strong> {{ error }}
    </div>
{{/if}}

<div class="card-group" style="margin:10px">
<div class="row row-content">

    <div class="col-md-3" style="margin: 15px;">
        <div class="card" style="width: 18rem;">
            <!--<div class="divprodimg"> -->

            <img class="card-image-top" src="../public/img/{{products.title}}.jpg" alt="card image" style="width:170px;height:130px">

            <!--</div>-->
                 
           
           
            <div class="card-body">
                <h5 class="card-title"> {{products.title}} </h5>
                <p class="card-text"> {{products.description}} </p>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: $ {{products.price}} </li>
                <li class="list-group-item">Category:  {{products.category}} </li>
                <li class="list-group-item"> {{products.quantity}} Left</li>
            </ul>


            <form class="list-group list-group-flush" action="cart/add" METHOD="POST">
                <input type="string" name="cartproid" style="display:none" value={{products._id}}></input>
                <li class="list-group-item"> <button type="submit" class="btn btn-primary">
                    Add to My Cart
                </button></li>
            </form>

            <form class="list-group list-group-flush" action="wish/add" METHOD="POST">
                <input type="string" name="wishproid" style="display:none" value={{products._id}}></input>
                <li class="list-group-item"> <button type="submit" class="btn btn-primary">
                    Add to My WishList
                </button></li>
            </form>

        </div>
    </div>

</div>


<div class="card" style="width:25rem" id="reviewCard">
    <div class="card-header" id="reviewHead">
        <h4>Reviews</h4>
    </div>
    {{#if reviews}}
        <div class="card-body" style="margin:15px" id="cardbody">
            {{#each reviews}}

                <div class="card-title">
                    <h5>{{title}}</h5>
                </div>
                <div class="card-text">
                    {{user.name}} : {{comment}}
                </div>
                <div class="card-text">
                    Rating: {{rating}}
                </div>
                <div class="card-text">
                    {{date}}
                </div>
                <br/>
            {{/each}}

        </div>
    {{else}}
        <div class="card-body" style="margin:15px">
            <div class="card-text">
                No reviews posted yet!
            </div>
        </div>
    {{/if}}



    <form id="reviewForm" style="margin:15px">
        <div class="form-group row">
            <div class="col-md-5">
                <input type="text" class="form-control" id="title" name="title" placeholder="Your Review Title..">
            </div>
            <div class="col-md-3">
                <select type="text" class="form-control" id="rate" name="rate" placeholder="Rating..">
                    <option selected>Rating...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <textarea name="newReview" id="newReview" rows="8" cols="50" placeholder="Your Reviews...."></textarea>
        </div>
        <div class="form-group">
            <button id="review-button" type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
    </form>
</div>
</div>